.Contactnav{
    overflow: hidden;
}
.Contactnav ul{
    background-color: blue;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.Contactnav a{
    background-color: blue;
    color: white;
}
.Contactnav a:hover{
    color: yellow;
}
.contact{
    display: flex;
    justify-content: space-between;
}
.ContactMe{
    display: inline-block;
    margin-right: 100px;
    
}
.container1 .contactImage{
    float: left;
    margin-right: 100px; 
}
.contactImage{
    margin-left: 100px;
    margin-top: 50px;
}

