
.container3{
    opacity: 0;
    animation: fadeIn 2s ease-out forwards;
}
@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.Contactnav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.Contactnav a{
    
    color: white;
    font-weight: bold;
    text-decoration: none;
    list-style-type: none;
    padding: 14px 20px;
}
.Contactnav a:hover{
    color: yellow;
    padding: 14px 20px;
}
.contact{
    display: flex;
    justify-content: space-between;
}
.ContactMe{
    display: block;
    margin-right: 100px;
    
}
.container1 .contactImage{
    float: left;
    margin-right: 100px; 
}
.container1 img{
    margin-top: 0px;
}
.contactImage{
    margin-left: 100px;
    margin-top: 50px;
}

.p {
    display: flex;
    flex-direction: column; /* Align items vertically */
    gap: 10px; /* Optional: space between each item */
}

.item {
    display: flex;
    align-items: center; /* Align the logo and text vertically */
    gap: 10px; /* Space between the logo and the text */
}

h3 {
    color: white;
    margin: 0; /* Remove default margin */
}
.r{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}
.logos a {
    display: block;
}
