.container{
    display: flex;
}
.one{
    display: flex;
}
.one, .two{
    display: block;
    margin: 10px;
    border: 1px solid black;
    flex: 1;
}
.socials_button{
    display: fl;
}
.button, .socials{
    display: inline-block;
}
.socials{
    display: flex;
    border: 1px solid black;
    padding: 0px;
    margin: 0px
}
img{
    border-radius: 50px;
    padding: 70px;
    margin-top: 50px;
    margin-left: 20px;
}
h1{
    display: flex;
    color: rgb(224, 43, 43);
    margin-left: 100px;
}
h2{
    
    color: rgb(230, 233, 42);
    font-size: 30px;
    margin-top: 100px;
    margin-left: 100px;
}
h3{
    color: white;
    display: inline;
    margin-left: 100px;
    font-size: 70px;
}
h4{
    display: inline;
    color: rgb(230, 233, 42);
    font-size: 30px;
    margin-top: 100px;
    margin-left: 100px;
}

.button{
    margin-left: 100px;
}
.button button{
    display: flex;
    margin-top: 20px;
    background-color: #ffcc00;
    border: none;
    color: rgb(20, 64, 107);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s ease; /*smooth transining of the background color*/
}
.button:hover{
    background-color: #575757;

}
body{
    background-color: rgb(20, 64, 107);
}

.navbar{
   
    overflow: hidden;
}
.navbar ul{
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    padding: auto;
    margin-left: 50px;
    display: flex;
}
.navbar li{
    display: inline;
}
.navbar a{
    color:white;
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover{
    background-color: #575757;
    color: #ffcc00;
}
