.body{
    background-image: url(background.png);
}
.container2{
    opacity: 0;
    animation: fadeIn 2s ease-out forwards;
}
@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
 
}
.projectsNav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 14px 20px;
    display: inline;
    text-align: center;
}
.projectsNav a:hover{
    background-color: #3333;
    color: #ffcc00;

}
.headers{
    display: flex;
    justify-content: space-between;
}
.header-items{
    display: inline;
}

.project-images{
    display: flex;
    justify-content: space-between;
}
.project-buttons{
    display: flex;
    justify-content: space-between;
}
.project-button1{
    background-color: #ffcc00;
    margin-top: 10px;
    margin-right: 300px;
    border-radius: 40px;
    padding: 14px 20px;
    color: #070602;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
}
.project-button{
    background-color: #ffcc00;
    margin-top: 10px;
    margin-left: 300px;
    border-radius: 40px;
    padding: 14px 20px;
    color: #070602;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
}
.project-paragraph{
    display: flex;
    justify-content: space-between;
}
